<div class="w3-container w3-white w3-card-2 w3-round-small" style="margin-top:10%">
	<div class="w3-margin-top">
		<textarea ng-model="comments.comment" style="width:100%" class="w3-input"></textarea>
		<div style="float:right;">
		<a ui-sref="home" class="w3-button w3-white w3-text-blue w3-hover-cyan w3-hover-text-white w3-margin-top w3-margin-bottom" > Back</a>
			<button class="w3-button w3-white w3-text-blue w3-hover-cyan w3-hover-text-white w3-margin-top w3-margin-bottom" ng-click="update()">
				Update
			</button>
		</div>
	</div>
</div>