
<!DOCTYPE html>
<html ng-app='MEANSocial'>
<head>
	<title>
		
	</title>
	<!-- Library Imports -->
	<script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>

	<script type="text/javascript" src="/node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
	<script type="text/javascript" src="/node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
	<script type="text/javascript" src="/node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>

	<!-- Custom Files Import -->
	<script type="text/javascript" src="/client/javascripts/app.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="/client/javascripts/services/FeedService.js"></script>
	<script type="text/javascript" src="/client/javascripts/services/CommentService.js"></script>
	<script type="text/javascript" src="/client/javascripts/services/UserService.js"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="/client/javascripts/controllers/LoginController.js"></script>
	<script type="text/javascript" src="/client/javascripts/controllers/FeedsController.js"></script>
	<script type="text/javascript" src="/client/javascripts/controllers/CommentController.js"></script>
	<script type="text/javascript" src="/client/javascripts/controllers/SignupController.js"></script>
	
	 <!-- CSS -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/client/css/style.css">

	<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400" rel="stylesheet">
</head>

<body class="w3-light-grey">
	
	<div class='w3-top w3-card-4'>
		<div class="w3-bar w3-cyan w3-text-grey">
	        <a class="w3-button w3-xlarge w3-cyan w3-hover-cyan w3-hover-text-white w3-text-grey clickable" ui-sref="home">MEANetwork</a>
		    <div style="float:right;padding-top:5px;"ng-controller="LoginController">
				<div ng-show="!isLoggedIn">
					<div class="w3-third">
						<input type="text" placeholder="Email" class="w3-input w3-border" ng-model="user.email">
					</div>
					<div class="w3-third">
						<input type="password" placeholder="Password" class="w3-input w3-border" ng-model="user.password">
					</div>
					<div class="w3-third">&nbsp;
						<button ng-click="login()" class="w3-button w3-hover-white w3-white w3-hover-text-blue w3-round-xxlarge">Login</button>
						<a ui-sref="signup" class="w3-button w3-hover-white w3-white w3-hover-text-blue w3-round-xxlarge">Signup</a>
					</div>
				</div>
				<div ng-show="isLoggedIn">
					<div class="w3-dropdown-hover">
					    <button class="w3-button w3-cyan w3-hover-cyan w3-text-grey w3-hover-text-white">Welcome, {{uname}}</button>
					    <div class="w3-dropdown-content w3-bar-block w3-border">
						    <a  ng-click="logout()" class="w3-bar-item clickable w3-text-grey w3-hover-text-blue"><i class="fa fa-sign-out"></i>&nbsp; Logout</a>
					    </div>
					</div>
				</div>
		    </div>
			
		</div>
	</div>


	<div class="w3-container w3-margin w3-light-grey" ui-view></div>
</body>	

</html>