<div class="w3-container w3-animate-top" style="margin-top:5%;">
	<div class="w3-container w3-card-4 w3-padding w3-white w3-round-small" ng-if="isLoggedIn">
		<div class='row' style="padding-top:10px;">
			<textarea ng-model="feed.tweet" class="w3-input" placeholder="Write Something..."></textarea>
		</div>
		<div style="padding-top:10px;align:right;">
			<div class="w3-button w3-white w3-text-blue w3-hover-cyan w3-hover-text-white" ngf-select ng-model="feed.image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-resize="{width:100, height:100}">
				Select a Photo
			</div>
			 <button ng-click="postFeed()" class="w3-button w3-white w3-text-blue w3-hover-cyan w3-hover-text-white" style="float:right;">
			 	Post
			 </button>
		</div>
		<div style="">
		</div>
	</div>
	<div class="feeds w3-container w3-animate-bottom" style="margin-top:4%;" ng-if="feeds.length > 0" >
		<div ng-include="'views/feed/feed.html'"> </div>
	</div>
</div>
