<div class="w3-container w3-center w3-third" style="margin-left:35%;margin-top:5%;" ng-controller="SignupController">
	<div class='w3-card-2 w3-white w3-round-small w3-padding'>
		<div class="w3-center">
			<span class="w3-xlarge w3-text-blue">Register</span>
		</div>
		<div class="" style="padding-bottom:10px;">
			<input type="text" ng-model="newUser.email" class="w3-input" placeholder="Email">
		</div>

		<div class="" style="padding-bottom:10px;">
			<input type="password" ng-model="newUser.password" class="w3-input" placeholder="Password">
		</div>
		<div>
			<button class="w3-button w3-white w3-text-blue w3-hover-cyan w3-hover-text-white"ng-click="createUser()">Sign Up</button>
		</div>
	</div>
</div>