<div ng-class="{largeMargin : single == true, smallMargin : single != true}" >
	<div  class ='w3-container w3-display-container w3-card-2 w3-white w3-round-small w3-margin w3-padding'  ng-repeat="feed in feeds ">
			<!-- {{feed}} -->
			<div>
				<div>
					<div class="w3-dropdown-hover w3-right">
					    <button class="w3-button w3-white w3-hover-white w3-hover-text-blue w3-text-grey"><i class="fa fa-chevron-down"></i></button>
					    <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
					      <a ng-if="!single" ui-sref="feed({feedId : feed._id })" class="w3-bar-item w3-button w3-white w3-hover-cyan w3-hover-text-white w3-text-blue">View</a>
					      <a ng-if="user.id == feed.created_by" ui-sref="editFeed({updateId : feed._id })" class="w3-bar-item w3-button w3-white w3-hover-cyan w3-hover-text-white w3-text-blue">Edit</a>
					      <a ng-if="user.id == feed.created_by" ng-click="deleteFeed(feed._id)" class="w3-bar-item w3-button w3-white w3-hover-cyan w3-hover-text-white w3-text-blue">Delete</a>
					      <a ng-if="single" href="#" class="w3-bar-item w3-button w3-white w3-hover-cyan w3-hover-text-white w3-text-blue">Back</a>
					    </div>
					</div>
					<a class="w3-text-blue">{{feed.created_by_name}}</a> posted: <br/>
				</div>
				<div>
					<div class="w3-container">
						{{feed.feed}}
					</div>
					<div class="w3-container">
						<img ng-show="feed.image" ng-src="/../uploads/feeds/{{feed.created_by}}/{{feed.created_at}}/{{feed.image}}" style="height:200px; width:250px;">
					</div>
					<div class="w3-margin-top w3-margin-bottom"><!-- ng-init="checkIdExist()" -->
						<a ng-show="!feed.liked" ng-click="like(feed._id)" class="clickable w3-hover-text-blue">{{feed.likes.length}} Likes</a> 
						<a ng-show="feed.liked" ng-click="unlike(feed._id)" class="clickable w3-hover-text-blue">{{feed.likes.length}} Unlike</a>
						<a class="clickable w3-hover-text-blue" >{{feed.comments.length}} Comments</a><br/>
					</div>
					<div class="w3-container" ng-repeat="comment in feed.comments ">
						<div>
							<div ng-if="user.id == comment.uid" class="w3-dropdown-hover w3-right w3-display-hover ">
							    <button class="w3-button w3-white w3-hover-white w3-hover-text-blue w3-text-grey"><i class="fa fa-chevron-down"></i></button>
							    <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
							      <a ng-if="user.id == feed.created_by" ui-sref="editComment({commentId : comment._id })" class="w3-bar-item w3-button w3-white w3-hover-cyan w3-hover-text-white w3-text-blue">Edit</a>
							      <a ng-if="user.id == feed.created_by" ng-click="deleteComment(comment._id)" class="w3-bar-item w3-button w3-white w3-hover-cyan w3-hover-text-white w3-text-blue">Delete</a>
							    </div>
							</div>
							<div class="w3-left w3-display-hover">
							<span><b>{{comment.uname}}</b></span> commented:<br/>
							{{comment.comment}}
								
							</div>
						</div>
					<!-- {{comment}} -->
						<!-- render comments -->
					</div>
					<div ng-if="user.id" ng-controller="CommentController">
						<textarea ng-init="comments.pid=feed._id" ng-model="comments.comment" style="width:100%" class="w3-input"></textarea>
						<div style="float:right;">
							<button class="w3-button w3-white w3-text-blue w3-hover-cyan w3-hover-text-white w3-margin-top w3-margin-bottom" ng-click="comment()">
								Comment
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

</div>