<div class="w3-container w3-card-4 w3-padding w3-white w3-round-small" ng-if="isLoggedIn" style="margin-top:10%">
	<div class='row' style="padding-top:10px;">
		<textarea ng-model="feed.tweet" class="w3-input" placeholder="Write Something..."></textarea>
	</div>
	<div style="padding-top:10px;align:right;">
		 <button ng-click="updateFeed()" class="w3-button w3-white w3-text-blue w3-hover-cyan w3-hover-text-white" style="float:right;">
		 	Update Post
		 </button>
	</div>
	<div style="">
	</div>
</div>